.chat-list {
  height: auto;
  display: flex;
}

.chat-card {
  border-bottom: 1px solid $blue;
}

.chat-list > li :hover {
  background-color: $hovBlue !important;
}

.avatar-pic > img {
  border-radius: 13% !important;
  object-fit: cover;
}

.chat-card-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.available > .cs-status {
  width: 18px !important;
  bottom: 0% !important;
}

.available_bullet .cs-status__bullet {
  background: #08de77 !important;
  border: 3px solid #ffffff !important;
}
