$bg-primary-color: $white;
$bg-secondary-color: $gray;

$text-primary-color: $black;
$text-secondary-color: $blue;

$btn-primary-bg-color: $blue;
$btn-secondary-bg-color: $white;

$btn-primary-text-color: $white;
$btn-secondary-text-color: $blue;

$btn-primary-border-color: $blue;
$btn-secondary-border-color: $blue;

$primary-border-color: $gray;
$secondary-border-color: $blue;

$btn-link-text-color: $softGray;

$bg-disabled-color: $lightGray;
$text-disabled-color: $softGray;

$title-primary-color: $red;
$title-secondary-color: $blue;

$black-text-color: $black;
$bg-highlight-color: $lightRed;

$error-color: $lightRed;
$success-color: $lightGreen;
