$blue: #1a83e4;

$lightBlue: #478fca;

$white: #ffffff;

$red: #e32625;
$softRed: #faae9e;
$lightRed: #cc5841;

$gray:#aaaaaa;
$lightGray: #F8F8F8;
$softGray: #a7a5a5;
$darkGray: #4f4f4f;

$black: #000000;

$lightGreen: #27AE60;
