$black: #000000;
$softBlack: #333333; //b1
$darkGray: #4f4f4f; //b2
$gray: #828282; //b3
$softGray: #dadada; //line
$lightGray: #f2f2f2; //w2
$lowLightGray: #f8f8f8; //w3
$white: #ffffff; //w1

$softBlue:#1174A8;
$darkBlue: #022C42;
$lightBlue: #C0E1FF;
$purple: #4856DF;

$red: #B93434;

$green: #33935C;
$brightGreen: #00D870;

$softYellow:#FEC80A;