.contact-btn {
  width: inherit;
  margin-bottom: 1rem;
  height: 3rem;
}

.appointment-btn {
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
}
