.user-details {
  margin-top: 15px;
}

.sub-topics {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}

.profile-pic-side {
  border: 1px solid $btn-primary-border-color;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-pic {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
}

.topic {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.font {
  font-family: 'Poppins';
  font-style: normal;
}
.earning-amount {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.main-section {
  margin-top: 10%;
}

.section-sub-topic {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
}

.detail-section {
  margin-bottom: 30px;
}

.badge {
  width: 20%;
  margin: 4px;
  height: 60px;
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  background-color: $bg-secondary-color !important;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.indent {
  margin-left: 3%;
}

.bold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
}

.edu {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: $bg-secondary-color;
}

.verify-badge {
  position: absolute;
  border: 6px solid $btn-secondary-bg-color;
  bottom: -4px;
  left: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $success-color;
}

.profile-main-image {
  width: '6rem';
  height: 100%;
  object-fit: cover;
}

.review {
  color: $text-disabled-color;
}

.earning-widget {
  border: 1px solid $btn-primary-border-color;
  border-radius: 10px;
  width: 80%;
  justify-content: center;
  margin-bottom: 10%;
}

.footer-detail {
  justify-content: center;
  width: 60%;
  min-width: 300px;
}
