.stepper-circle {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: $bg-secondary-color;
}

.stepper-container {
    border: 2px solid $primary-border-color;
    border-radius: 2px;
    background: $bg-secondary-color;
}