.attachment-error {
    color: $error-color;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 5px;
    padding-left: 9px;
  }

  .dropZoneContainer {
    border: dashed;
    border-width: thin;
  }