@import '../../assets/colors/index';

#tabs {
  margin: 100px 0;
  padding: 50px;
  border-radius: 20px;
  @media (max-width: 768px) {
    padding: 20px;
    margin: 50px 0;
  }
  #tabs-container {
    #tablist {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $softGray;
      .tab-title {
        margin-right: 100px;
        font-size: 22px;
        font-weight: 500;
        color: $gray;
        @media (max-width: 768px) {
          margin-right: 40px;
        }
        cursor: pointer;
        .bottom-bar {
          height: 4px;
          border-radius: 4px;
        }
        &.active {
          font-size: 24px;
          font-weight: bold;
          color: $softBlack;
          .bottom-bar {
            background-color: $darkBlue;
          }
        }
      }
    }
    #tab-content {
      .content-element {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 50px;
        .element-image {
          width: 100px;
          @media (max-width: 768px) {
            width: 80px;
          }
        }
        h4 {
          font-size: 18px;
          font-weight: 600;
          color: $darkGray;
          line-height: 20px;
          margin: 0;
          @media (max-width: 768px) {
            font-size: 16px;
            font-weight: bold;
          }
        }
        .institute {
          color: $gray;
        }
        .during {
          color: $gray;
          margin: 0;
        }
      }
    }
  }
}
