.text-soft-color {
  color: $softGray;
}

.background-color-bg {
  background-color: $white !important;
}

.background-color {
  color: $white !important;
}

.bg-danger {
  background-color: $red;
}

.text-light {
  color: $white;
}



.secondary-text-color {
  color: $text-secondary-color !important;
}

.text-blue-color{
  color: $text-primary-color; //need to replace
}


.text-disabled-color {
  color: $text-disabled-color !important;
}
