@import '../typography/index';

.primary-background-color {
  background: $bg-primary-color !important;
}

.primary-text-color {
  color: $text-primary-color !important;
}

.primary-border-color {
  border-color: $bg-primary-color !important;
}

.secondary-text-color {
  color: $text-secondary-color !important;
}

.purple-text-color {
  color: $btn-secondary-text-color;
}

.bg-color-white {
  background: $white;
}

.underline-text {
  text-decoration: underline;
}

.header-avatar-bg {
  background: $softRed !important;
}

.text-disabled-color {
  color: $text-disabled-color !important;
}

.primary-title-color {
  color: $title-primary-color !important;
}

.secondary-title-color {
  color: $title-secondary-color !important;
}

.bg-highlight-color {
  background-color: $lightGrey !important;
}

.color-grey {
  color: grey;
}

.color-yellow {
  color: $brightYellow;
}

.color-black {
  color: $black-text-color;
}

.pointer {
  cursor: pointer !important;
}

.not-allowed {
  cursor: not-allowed !important;
}

.icon-disabled {
  opacity: 0.3;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primary-font;
  font-style: normal;

}

button {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}

.text-inline {
  flex-wrap: nowrap;
}

.light-gray-color-bg {
  background-color: $lightGray;
}

.background-color-bg {
  background-color: $white !important;
}

.background-color {
  color: $white !important;
}

.main-color {
  color: $blue !important;
}

.main-color-bg {
  background-color: $blue;
}