@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.primary-font {
  font-family: "Poppins";
  font-style: normal; }

.secondary-font {
  font-family: "Inter", sans-serif;
  font-style: normal; }

.font-bold {
  font-weight: 600; }

.font-medium {
  font-weight: 500; }

.font-regular {
  font-weight: 400; }

.font-size-extra-small {
  font-size: 0.7rem; }

.font-size-small {
  font-size: 0.9rem; }

.font-size-regular {
  font-size: 1.1rem; }

.font-size-medium {
  font-size: 1.5rem; }

.font-size-large {
  font-size: 2rem; }

.primary-text-color {
  color: #000000 !important; }

.secondary-text-color {
  color: #aaaaaa !important; }

.text-blue-color {
  color: #1a83e4; }

.tertiary-text-color {
  color: #1a83e4 !important; }

.quaternary-text-color {
  color: #4f4f4f !important; }

.underline-text {
  text-decoration: underline; }

.text-disabled-color {
  color: #a7a5a5 !important; }

.primary-background-color {
  background: #ffffff !important; }

.primary-border-color {
  border-color: #ffffff !important; }

.purple-text-color {
  color: #1a83e4; }

.bg-color-white {
  background: #ffffff; }

.header-avatar-bg {
  background: #faae9e !important; }

.primary-title-color {
  color: #333333 !important; }

.secondary-title-color {
  color: #4f4f4f !important; }

.bg-highlight-color {
  background-color: #FAFAFA !important; }

.pointer {
  cursor: pointer !important; }

.not-allowed {
  cursor: not-allowed !important; }

.icon-disabled {
  opacity: 0.3; }

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins";
  font-style: normal; }

@media only screen and (max-width: 600px) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins";
    font-style: normal;
    margin: 0;
    padding: 0; }
  .page-container {
    margin: 0;
    padding: 0; } }

button {
  background: none;
  color: inherit;
  border: none;
  outline: inherit; }

.text-inline {
  flex-wrap: nowrap; }

.light-gray-color-bg {
  background-color: #FAFAFA; }

.border-gray-color {
  border-color: #D6D6D6; }

.text-input-color {
  background-color: #f0f0f0; }

.text-input-button-bg {
  background-color: #E0E0E0; }

.tag-bg-color {
  background-color: #f0f0f0; }

.text-dark-color {
  color: #4f4f4f; }

.text-soft-color {
  color: #a7a5a5; }

.background-color-bg {
  background-color: #ffffff !important; }

.background-color {
  color: #ffffff !important; }

.main-color {
  color: #1a83e4 !important; }

.main-color-bg {
  background-color: #1a83e4; }

.soft-main-color-bg {
  background-color: #EAF5FF; }

.navbar-items {
  margin-left: 25pt; }

.text-danger {
  color: #e32625; }

.bg-danger {
  background-color: #e32625; }

.text-light {
  color: #ffffff; }

.button-cursor {
  cursor: default; }

.primary-button {
  color: #ffffff !important;
  background: #1a83e4 !important;
  border: 1px solid #1a83e4;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; }

.primary-button:hover {
  color: #1a83e4 !important;
  background: #ffffff !important;
  border-color: #1a83e4 !important; }

.primary-button-loader {
  color: #ffffff !important;
  background: #1a83e4 !important;
  border-color: #1a83e4 !important; }

.secondary-button {
  color: #1a83e4 !important;
  background: transparent !important;
  border: 1px solid #1a83e4;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; }

.secondary-button:hover {
  color: #ffffff !important;
  background: #1a83e4 !important;
  border-color: #1a83e4 !important; }

.button-link {
  color: #a7a5a5;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent; }

.button-link:hover {
  color: #000000;
  background-color: transparent;
  border: none; }

.button-link:active {
  color: #000000 !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important; }

.button-link:focus {
  color: #000000;
  background-color: transparent;
  border: none; }

.button-disable {
  pointer-events: none; }

.background-disabled-color {
  background: #FAFAFA !important; }

.button-elevated {
  color: #000000 !important;
  background-color: transparent !important;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; }

.button-elevated:hover {
  color: #ffffff !important;
  background: #000000 !important; }

.default-text-input {
  height: 40px;
  outline: none;
  border: 2px solid #aaaaaa; }

.default-text-input:focus {
  outline: none;
  border: 2px solid #aaaaaa; }

.form-control:focus {
  box-shadow: 0 0 1px 1px #aaaaaa; }

.text-input-error {
  border-color: #cc5841; }

.text-input-error:focus {
  border-color: #cc5841; }

.text-input-error-label {
  color: #cc5841;
  margin-left: 2px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield; }

.text-label {
  min-width: 100px;
  max-width: 260px;
  color: #000000; }

.attachment-error {
  color: #cc5841;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  padding-top: 5px;
  padding-left: 9px; }

.dropZoneContainer {
  border: dashed;
  border-width: thin; }

.default-date-input {
  height: 40px;
  outline: none;
  border: 2px solid #aaaaaa;
  border-radius: 4px;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px; }

.react-datepicker__header__dropdown--select select {
  border: 1px solid #000000;
  border-radius: 1px;
  height: 20px; }

.react-datepicker__year-dropdown-container--select {
  margin-left: 4%; }

.date-input-error {
  border-color: #cc5841; }

.date-input-error:focus {
  border-color: #cc5841; }

.user-details {
  margin-top: 15px;
  margin-left: auto; }

.sub-topics {
  line-height: 42px; }

.profile-pic-side {
  border: 1px solid #1a83e4;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.profile-pic {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content; }

.topic {
  text-align: center; }

.earning-amount {
  line-height: 54px; }

.main-section {
  margin-top: 10%; }

.section-sub-topic {
  line-height: 27px; }

.description {
  line-height: 1.7rem;
  text-align: justify; }

.detail-section {
  margin-bottom: 30px; }

.badge {
  width: 20%;
  margin: 4px;
  height: 60px;
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA !important;
  color: #4f4f4f;
  border-radius: 5px;
  font-weight: 500;
  line-height: 24px;
  text-align: center; }

.indent {
  margin-left: 3%; }

.bold {
  font-weight: 600;
  line-height: 27px;
  text-align: justify; }

.edu {
  line-height: 24px; }

.verify-badge {
  position: absolute;
  border: 6px solid #ffffff;
  bottom: -4px;
  left: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #27AE60; }

.profile-main-image {
  width: '6rem';
  height: 100%;
  object-fit: cover; }

.profile-main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background-color: #E0E0E0; }

.profile-main-image-container:hover {
  opacity: 0.7; }

.review {
  color: #a7a5a5; }

.earning-widget {
  border: 1px solid #1a83e4;
  border-radius: 10px;
  width: 80%;
  justify-content: center;
  margin-bottom: 10%; }

.footer-detail {
  justify-content: center;
  width: 60%;
  min-width: 300px; }

.contact-btn {
  width: inherit;
  margin-bottom: 1rem;
  height: 3rem; }

.appointment-btn {
  width: 100%;
  margin-top: 1rem;
  height: 4rem; }

.title {
  font-size: 40px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  text-align: center; }

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }

.card-list:after {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: left;
  flex-wrap: wrap; }

.category-view-btn {
  font-size: 18px;
  padding: 14px 40px; }

.category-header {
  color: #333333; }

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.Auth-form {
  width: 420px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white; }

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%; }

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #222222;
  font-weight: 800; }

label {
  font-size: 14px;
  font-weight: 600;
  color: #222222; }

.auth-form-container {
  background-color: #ffffff;
  height: 100vh; }

.auth-svg-container {
  background-color: #EAF5FF;
  min-height: 100vh;
  overflow: hidden; }

.auth-container {
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1; }

.auth-form-content-container {
  margin-top: 6rem;
  margin-left: 4rem;
  margin-right: 4rem; }

.auth-text-container {
  height: 3rem;
  border: none; }

.auth-text-input-container {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-radius: 0;
  border-style: solid;
  border-color: #a7a5a5;
  align-items: center; }

.auth-button {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.dashed-border {
  border-top-width: 1px;
  border-color: #aaaaaa;
  border-top-style: dashed;
  height: 1rem;
  margin-top: 1rem; }

.dashed-border-container {
  display: 'flex';
  flex-direction: 'row';
  justify-content: stretch;
  margin-top: 1rem; }

.auth-login-svg-background-image {
  position: absolute;
  height: 100vh;
  width: fit-content; }

.auth-signup-svg-background-image {
  position: absolute;
  height: 75vh;
  right: 0;
  bottom: 0;
  animation-name: svg-signup-person;
  animation-duration: 0.5s;
  animation-timing-function: ease; }

@keyframes svg-signup-person {
  0% {
    right: -500px; }
  100% {
    right: 0px; } }

@keyframes svg-person {
  0% {
    right: 500px; }
  100% {
    right: 0px; } }

.auth-login-svg-person-image {
  position: absolute;
  bottom: 0px;
  height: 50vh;
  right: 0;
  width: fit-content;
  animation-name: svg-person;
  animation-duration: 0.5s;
  animation-timing-function: ease; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent; }

.table > thead {
  background-color: #aaaaaa; }

.modal-custom-header {
  border: none;
  justify-items: center;
  height: 3rem; }

.wizard-progress {
  border-radius: 0;
  height: 8px; }

.wizard-modal {
  border-radius: 10px;
  overflow: hidden; }

.modal-page-number {
  display: flex;
  border-width: 1px;
  border-style: solid;
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
  align-items: center;
  opacity: 0.7; }

.modal-custom-footer {
  border: none; }

.consult-register-form-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.consult-register-text-input {
  border: none; }

.consult-register-text-input-button {
  color: inherit;
  border: none;
  outline: inherit;
  height: 2rem;
  margin: 0.5rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.consultant-register-text-input-container {
  display: flex;
  padding: 0;
  align-items: center; }

.consult-register-text-input-button:hover {
  background-color: transparent; }

.icon-wrapper {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 10px;
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center; }

.icon-wrapper:hover {
  background-color: #E0E0E0; }

.consult-register-form-header-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between; }

.consultant-register-education-container {
  flex-direction: row;
  display: flex;
  margin-top: 2rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.consultant-register-qualification-text-container {
  display: flex;
  flex-direction: column; }

.consultant-register-education-image {
  margin-right: 2rem; }

.consultant-register-skills-container {
  flex-direction: row;
  display: flex; }

.consultant-register-tag {
  display: flex;
  height: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center; }

.consultant-register-tag-outline {
  display: flex;
  height: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-style: solid;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; }

.consultant-register-selected-tags-container {
  margin-top: 2rem; }

.consultant-register-remove-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -7px;
  height: 16px;
  width: 16px;
  border-radius: 8px; }

.consultant-register-education-icon-container {
  background-color: #D6D6D6;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem; }

.consultant-register-qualification-container {
  display: flex; }

.consultant-register-submit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .consultant-register-submit-button-container button {
    margin-top: 1rem;
    margin-left: 1rem; }

.main-container {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 18rem;
  min-width: 17rem; }

.service-card-profile-image {
  width: '6rem';
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid white; }

.service-card-profile-image {
  width: '6rem';
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid white; }

.service-card-service-image {
  height: 8rem;
  object-fit: cover; }

.consultant-card-service-image {
  height: 6rem;
  object-fit: cover; }

.service-card-profile-image-container {
  width: '6rem';
  height: '6rem';
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

.consultant-card-profile-image-container {
  width: '5rem';
  height: '5rem';
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

.consultant-card-profile-card-container {
  display: flex;
  justify-content: center; }

.consultant-card-profile-image {
  width: '6rem';
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid white; }

.service-card-title-text {
  margin-top: -2.5rem;
  margin-left: 7rem;
  margin-bottom: 1rem;
  font-size: 16px; }

.service-card-body-text {
  font-size: 13px;
  line-height: 20px;
  color: #4f4f4f; }

.consultant-card-title-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px; }

.consultant-card-body-text {
  font-size: 13px;
  line-height: 20px;
  color: #676767; }

.service-card-column-divider {
  height: 100%;
  width: 25%;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center; }

.service-card-availability-container {
  position: absolute;
  border: 3px solid white;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 10px; }

.consult-card-container {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: 10px;
  max-width: 18.75rem;
  overflow: hidden; }

.consultant-card-availability-container {
  position: absolute;
  border: 3px solid white;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 10px; }

small {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px; }

.service-card-footer-container {
  display: flex;
  flex-direction: row; }

.service-card-footer-container:hover {
  background-color: rgba(167, 165, 165, 0.3);
  transition: background-color 0.5s; }

.consult-card-footer-container:hover {
  background-color: rgba(167, 165, 165, 0.3);
  transition: background-color 0.5s; }

.consult-view-btn {
  cursor: pointer; }

.service-card-start-button {
  display: flex;
  width: 75%;
  justify-content: center; }

.service-card-start-button:hover {
  cursor: pointer;
  background-color: rgba(167, 165, 165, 0.1);
  transition: background-color 0.5s; }

.category-card-container {
  box-sizing: border-box;
  width: 23rem;
  background: #ffffff;
  border: 1px solid #EAF5FF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2%;
  margin-left: 2%;
  padding: 2px; }

@media only screen and (max-width: 600px) {
  .category-card-container {
    box-sizing: border-box;
    width: 17rem;
    background-color: #ffffff;
    border: 1px solid #EAF5FF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 2%;
    margin-left: 2%;
    padding: 0px; } }

.category-card-title {
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f; }

.category-card-image {
  object-fit: cover;
  height: auto;
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px; }

.category-card-body-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #4f4f4f; }

.profile-image-add-icon {
  position: absolute;
  margin-left: 3rem;
  margin-top: -3rem;
  color: #27AE60; }

.profile-image-add-icon-container {
  display: flex;
  position: absolute;
  margin-left: 5.5rem;
  margin-top: -5.5rem;
  justify-content: center;
  align-items: center;
  background-color: #27AE60;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem; }

.tag-container {
  height: 2rem;
  width: fit-content; }

.remove-margin-padding {
  margin: 0;
  padding: 0; }

.consultant-register-screen-container {
  display: flex;
  flex-direction: row; }

.consultant-register-category-container {
  flex: 25%;
  display: flex;
  flex-direction: column;
  justify-content: stretch; }

.consultant-register-form-container {
  flex: 75%; }

.consultant-register-category {
  display: flex;
  height: 5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.consultant-register-category-selected {
  position: absolute;
  left: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  height: 5rem;
  width: 1rem;
  background-color: #1a83e4; }

.consultant-register-edit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: -5rem; }
  .consultant-register-edit-button-container button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem; }
