.navbar-items {
    margin-left: 25pt;
}

.header-sign-up-btn {
    color: $bg-tertiary-color;
}
.header-bg {
    background: $header-primary-color !important;
    box-shadow: 0px 6px 18px -3px rgba(0,0,0,0.2);
}
